<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FORMS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
<body>
<div class="container">
<H1>Sign up here</H1>
<form method="post" action="/signup">
    {% from "_macro.html" import render_field %}

    {{ form.csrf_token }}

    {{ form.username.label }}
    {{ render_field(form.username,class='form-control') }}

    {{ form.password.label }}
    {{ render_field(form.password,class='form-control') }}

    {{ form.submit() }}

</form>
    </div>
</body>
</html>
